<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs", {title: "Pokedex"})%>
</head>
<body>
    <a href="/pokemon/new"><button>Create A New Pokemon </button></a>
    <div>
        <% data.forEach((item, index) => { %>
            <a href="/pokemon/<%= index %>"><span><img src=<%= item.img %>  alt="" ></span></a>
        <% }) %> 
    </div>
</body>
</html>