<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs", {title: "New Pokemon"})%>
</head>
<body>
    <form action="/pokemon" method="post">
        <input type="text" name="name" placeholder="Name Your Pokemon"><br>
        <input type="text" name="img" placeholder="Pokemon Image"> <br>
        <input type="text" name="types" placeholder="Pokemon Types"> <br>
        <input type="text" name="HP" placeholder="Hit Points"> <br>
        <input type="text" name="AP" placeholder="Attack Points"> <br>
        <input type="text" name="DP" placeholder="Defense Points"> <br>
        <input type="submit" value="Create New Pokemon">
    </form>

</body>
</html>